node_modules
config
backup
static/bundle.js
static/chunks
static/tailwind.css
.env
.env.*
.git
.github
.vscode
.idea
unneeded
v2
*.log
npm-debug.log*
.DS_Store
tests
docs
*.md
!README.md
!lib/README.md
CHANGELOG.md
LICENSE
.tsbuildinfo
coverage
**/*.test.js
**/*.test.ts
**/*.test.tsx
scripts/local-container.sh
